<Project name="Ultra_Matrix" version="144.2953">
  <Tasks>
    <Task type="Build" name="Autonomous candidate search" showSettingsOverview="false" sampleName="Custom" active="true" taskXMLFile="Build-Task1.xml" />
  </Tasks>
  <Databanks>
    <Databank name="Results_robust_20260809" view="Default - Main data" syncType="Auto-sync never" />
    <Databank name="Last generation" view="Default - Main data" syncType="Auto-sync never" />
    <Databank name="Initial population" view="Default - Main data" syncType="Auto-sync never" />
    <Databank name="Strategies to improve" view="Default - Main data" syncType="Auto-sync never" />
    <Databank name="Results" view="Default" syncType="Auto-sync never" />
  </Databanks>
</Project>